<div class="toolbar fancy-toolbar">
    <button class="btn primary" (click)="bulkEdit()">Bulk Edit</button>
    <button class="btn accent" (click)="savePreferences()">Save Preferences</button>
    <button class="btn warn" (click)="clearFilters()">Clear Filters</button>
    <label class="toggle-switch">
        <input type="checkbox" (change)="toggleDarkMode($event)" />
        <span class="slider"></span>
        <span class="label-text">Dark Mode</span>
    </label>
</div>

<div class="filters fancy-filters">
    <div class="filter-group">
        <label for="leadType">Lead Type</label>
        <select id="leadType" [(ngModel)]="selectedLead">
            <option *ngFor="let option of leadOptions" [value]="option.value">
                {{ option.text }}
            </option>
        </select>
    </div>

    <div class="filter-group">
        <label for="searchPreference">Search Preference</label>
        <select id="searchPreference" [(ngModel)]="selectedPreference">
            <option *ngFor="let preference of searchPreferences" [value]="preference.value">
                {{ preference.text }}
            </option>
        </select>
    </div>

    <div class="filter-group">
        <label for="search">Search</label>
        <input type="text" id="search" [(ngModel)]="searchQuery" placeholder="Search..." (keyup)="onfilter()" />
    </div>

    <button class="btn filter" (click)="onfilter()">Filter</button>
</div>

<kendo-grid [kendoGridBinding]="gridData" [pageSize]="10" [pageable]="true" [sortable]="true" [navigable]="true"
    (add)="addHandler($event)" (edit)="editHandler($event)" (cancel)="cancelHandler($event)"
    (save)="saveHandler($event)" (remove)="removeHandler($event)" kendoGridReactiveEditingDirective
    [kendoGridReactiveEditing]="createFormGroup">

    <ng-template kendoGridToolbarTemplate>
        <button kendoGridAddCommand>Add new</button>
    </ng-template>

    <kendo-grid-column field="RecordId" title="Record Id" [width]="200" editor="numeric"></kendo-grid-column>
    <kendo-grid-column field="LastName" title="Last Name" [width]="200" editor="text"></kendo-grid-column>
    <kendo-grid-column field="FirstName" title="First Name" [width]="200" editor="text"></kendo-grid-column>
    <kendo-grid-column field="PrimaryEmailAddress" title="Primary Email Address" [width]="200"
        editor="text"></kendo-grid-column>
    <kendo-grid-column field="PrimaryPhoneType" title="Primary Phone Type" [width]="200"
        editor="numeric"></kendo-grid-column>
    <kendo-grid-column field="LMPLeadId" title="LMP Lead Id" [width]="200" editor="numeric"></kendo-grid-column>
    <kendo-grid-column field="AppoinmentType" title="Appoinment Type" [width]="200" editor="text"></kendo-grid-column>
    <kendo-grid-column field="AssignedDate" title="Assigned Date" [width]="200" editor="text"></kendo-grid-column>
    <kendo-grid-column field="SalesRep" title="Sales Rep" [width]="200" editor="text"></kendo-grid-column>
    <kendo-grid-column field="Coordinator" title="Coordinator" [width]="200" editor="text"></kendo-grid-column>
    <kendo-grid-column field="SyncToMobile" title="Sync To Mobile" [width]="200" editor="numeric"></kendo-grid-column>
    <kendo-grid-column field="EffectiveDate" title="Effective Date" [width]="200" editor="text"></kendo-grid-column>

    <kendo-grid-command-column [width]="160" [locked]="true">
        <ng-template kendoGridCellTemplate let-isNew="isNew">
            <button kendoGridEditCommand [primary]="true">Edit</button>
            <button kendoGridRemoveCommand>Remove</button>
            <button kendoGridSaveCommand>{{ isNew ? "Add" : "Update" }}</button>
            <button kendoGridCancelCommand>{{ isNew ? "Discard" : "Cancel" }}</button>
        </ng-template>
    </kendo-grid-command-column>
</kendo-grid>